
/*列表页主页面宽*/
.page-container {
	width: 1000px;
	margin: 0 auto;
}

/*清除浮动*/
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.login-page {
	background-color: #f5f5f6;
}

.login-page .login-head {
	position: relative;
	width: 100%;
	height: 55px;
	line-height: 55px;
	margin-bottom: 40px;
	box-shadow: 0 3px 7px rgba(0,0,0,0.05);
	/*background-color: pink;*/
}

.login-page .login-head .logo-lianjia {
	height: 55px;
}

.login-page .login-head .back-header {
	float:right;
	margin-right: 19px;
	font-size: 14px;
	color: #6c707a;
}
.login-page .login-cont {
	
	height: 479px;
}

.login-page .login-cont .cont-title {
	width: 372px;
	height: 46px;
	margin: 0 auto;
	margin-bottom: 28px;
}

.login-page .login-cont .cont-title .title-left {
	display: inline-block;
	font-size: 35px;
}

.login-page .login-cont .cont-title .title-right{
	float: right;
	font-size: 14px;
}

.login-page .login-cont .cont-title .title-right{
	float: right;
	font-size: 14px;
	margin-top: 22px;
}
.login-page .login-cont .cont-title .title-right a {
	font-size: 14px;
	color: #39ac6a;
}

.login-page .login-cont .cont-box {
	font-size: 14px;
}

.login-page .login-box li {
	position: relative;
	margin: 0 auto;
	width: 372px;
	height: 55px;
	border-top: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	border-radius: 3px 3px 0 0;
	background-color: #fff;
}

.login-page .login-box .input {
	width: 332px;
	height: 45px;
	padding: 5px 20px;
}

.login-page .login-box .errorBox {
	display: none;
	position: absolute;
	top: 7px;
	left: 380px;
	padding: 10px;
	width: 126px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	font-size: 14px;
	font-weight: 900;
	color: #fff;
	background-color: #fa5741;
}


.login-page .login-box .through {
	display: none;
	position: absolute;
	top: 20px;
	left: 380px;
	width: 24px;
	height: 24px;
	background: url(../images/login/1.png) 0 0;
}



.login-page .login-box .short-msg {
	width: 208px;
}
.login-page .login-box .btn {
	width: 110px;
	height: 31px;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	color: #999;
	background-color: #fff;
}

.login-page .login-box .new-input {
	border: 1px solid #e4e4e4;
	border-radius: 3px;
}


.login-page .login-box .check-con {
	border-top: 1px solid #e4e4e4;
	border-left: none;
	border-right: none;
	border-bottom: none;
	line-height: 55px;
	font-size: 14px;
	color: #333;
}
.login-page .login-box .check-con .agreement {
	color: #39ac6a;
}

.login-page .login-box .submit-box {
	border: 0;

}

.login-page .login-box .submit-box .sub-btn{
	width: 100%;
	height: 55px;
	padding: 0;
	border-radius: 3px;
	font-size: 18px;
	color: #fff;
	background-color: #39ac6a;
}

.login-page .page-foot {
	margin-top: 90px;
	height: 40px;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.login-page .page-foot span {
	color: #999;
}
